@import "tailwindcss";

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.zoom-animation {
    animation: zoomInOut 5s infinite alternate ease-in-out;
}