@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Move images by half of the container width */
  }
  
  .animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite; /* Slower speed for smoother effect */
  }
  
  @keyframes fade {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .animate-fade {
    animation: fade 1s ease-in-out;
  }
  